.form {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .input {
    margin-bottom: 15px;
  }
  
  .submitButton {
    width: 100%;
  }

  .table-submit-btn{
    margin-top: 20px;
  }