
.login-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70%;

}

.login-label {
    font-size: xx-large;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
